<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodmr.jpeg" class="img-fluid" id="foto">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
     <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>Mi nombre es Darío, tengo 43 años, vivo en Villa Crespo, CABA. Soy hipoacúsico y uso audífonos con los cuales escucho al nivel de una persona oyente
                Siempre me intereso las computadoras, desde los 12 años que hago uso de ellas. Actualmente trabajo por mi cuenta con mi camioneta, a pesar de que me genera pocos ingresos y mas allá de querer progresar, mi sueño siempre fue dedicarme al mundo informático.
                Gracias a la oportunidad que me dieron para estudiar en Argentina Programa considere con fuerte énfasis que era posible por lo cual le pongo todo mi compromiso dedicándome varias horas por día a cumplir mi sueño.
                Me considero una persona con una gran capacidad para el aprendizaje, análisis crítico y resolución de problemas complejos en forma creativa.
                En mis tiempos libres me gusta mantenerme informado de lo que pasa en el mundo IT, seguir mejorando mis conocimientos en lenguajes de programación y estar con mi familia.</p>
        </span>
    </div>
    </div>
